@mainColor: red;

@img_size:100px;

.header {
  padding-left: 15px;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  margin: 3px 0px;
  font-family: Forte;
}
.badge {
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 11px;
  background-color: #ff7f1c;
}

@import "pizza/pizza-card";
@import "pizza/right-pannel";
@import "pizza/left-pannel";