.personal-data {
  margin-top: 17%;
  display: block;
  padding: 2%;
  border: 1px solid black;
  height: 300px;

  .data-header {
    font-size: 20px;
    font-family: "Segoe Script";
    margin-left: 5%;
    margin-bottom: 3%;
  }

  .forms-pan {
    display: inline-block;
    float: left;
  }

  .form-horizontal {
    border: 1px solid red;
    padding: 5px;
  }

  .order-info-pan {
    margin: 3%;
    display: inline-block;
    float: right;
    padding: 3%;
  }

  .next {
    margin: 2%;
    display: block;
    float: right;
  }

  .help-block {
    display: none;
    text-align: center;
  }

  #form-to-fill-in .form-control-feedback {
    right: 15px;
  }
  #form-to-fill-in .selectContainer .form-control-feedback {
    right: 25px;
  }

}