.right-pannel {

  background: #f4f4f4;
  position: fixed !important;
  top: 50px;
  right: 0;
  bottom: 0;
  width:305px;
  min-width: 230px;
  height: inherit;
  border: 1px solid #a9a9a9;
  box-shadow: 0px 0px 10px #7d7d7d;

  margin-left: 15px;
  padding: 0px;
  padding-top: 15px;

  z-index: 1000;

  .header {
    padding-left: 15px;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 3px 0px;
    font-family: "Goudy Old Style";
  }
  .badge {
    margin-left: 5px;
    font-size: 10px;
    background-color: lighten(@mainColor, 20%);
    padding: 6px;
  }
  .reset {
    display: inline-block;
    float: right;
    border: none;
    color: #3971d5;
    font-size: 12px;
    padding: 2px;
    width: auto;
    margin-top: 7px;
    font-family:Segoe UI Semibold;
  }

  .ordered-display {
    overflow-y: auto;
    height: inherit;
    background-color: blue;
  }

  .ordered-card-main {
    display: inline-block;
  }

  .ordered-card {
    display: inline-block;
    background-color: white;
    margin: 0px;
    border-bottom: 1px solid darken(@mainColor,20%);
    border-top: 1px solid darken(@mainColor,20%);
    border-radius: 2px;
    width: 100%;
    height: auto;
    padding: 5%;
    padding-right: 0px;
  }

  .pizza-header {
    padding: 3px;
    color: darken(@mainColor, 20%);
    margin: 3px 0px;
    font-size: 15px;
    font-family: "Verdana";
    font-weight: bold;
  }
  .price {
    font-size: 15px;
    font-weight: bold;
    margin: 0px 3px;
    font-family: "Segoe UI Semibold";
    color: darken(@mainColor, 10%);
  }
  .info-pan {
    margin: 5px 3px;
    font-family: "Segoe UI Symbol";
    font-size: 12px;

  }

  .size {
    margin-right: 5px;
    margin-left: 3px;
  }

  .btn-pan {

    border-radius: 150px;
    padding: 15px 0px;

    .minus {
      border-radius: 150px;
      margin: 5px;
      padding: 6px 10px;
    }

    .plus {
      border-radius: 150px;
      margin: 5px;
      padding: 6px 10px;
    }

    .cross {
      border-radius: 150px;
      margin: 5px;
      margin-left: 12px;
      padding: 6px 10px;
    }
  }

  //#img_pizza {
  //  height: @img_size;
  //  width: @img_size;
  //  float: right;
  //  clip: rect(0px, 50%, 0px, 0px);
  //  overflow: hidden;
  //  display: inline-block;
  //}

  .pan-footer {
    background: lighten(@mainColor,80%);
    position: inherit;
    right: 0;
    bottom: 0;
    max-height: 100px;
    border: 2px solid darken(@mainColor, 30%);

    width: inherit;

    #sum {
      display: inline-block;
      font-size: 17px;
      margin: 5px;
      float: left;
      color: darken(@mainColor, 10%);
      font-family: Verdana;
    }

    .price {
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      margin: 5px;
      float: right;
    }

    .order {
      display: block;
      height: auto;
      text-align: center;
      width: 200px;
      font-size: 20px;
      align-self: center;
      margin: 10px 90px ;
      margin-top: 35px;
      width: 140px;
      border-radius: 100px;
      font-family: "Segoe UI Semibold";
      font-weight: bold;
    }
  }
}